@model EPlast.ViewModels.ViewAnnualReportsViewModel
@using EPlast.BussinessLayer.ExtensionMethods
@using EPlast.Models.Enums
@{
    ViewData["Title"] = "Річні звіти";
}

<div class="container-fluid m-3">
    <form class="annualReports-wrapper">
        <h1 class="text-center">Річні звіти станиць</h1>
        <div class="btn-wrapper">
            <button type="button" class="btn btn-block text-light btn-sm" data-toggle="modal" data-target="#ModalAddAnnualReport">Додати річний звіт</button>
        </div>
        <table id="AnnualReportsTable" class="table table-hover table-bordered table-responsive-sm table-responsive-md" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th hidden></th>
                    <th>Станиця</th>
                    <th>Регіон</th>
                    <th>Подавач</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var annualReport in Model.AnnualReports)
                {
                    switch (annualReport.Status)
                    {
                        case AnnualReportStatus.Unconfirmed:
                            <tr class="unconfirmed-ar-menu">
                                <td>@annualReport.ID</td>
                                <td hidden>@annualReport.CityId</td>
                                <td>@annualReport.City.Name</td>
                                <td>@annualReport.City.Region.RegionName</td>
                                <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                <td>@annualReport.Date.ToString("dd-MM-yyyy")</td>
                                <td>@annualReport.Status.GetDescription()</td>
                            </tr>
                            break;
                        case AnnualReportStatus.Confirmed:
                            <tr class="confirmed-ar-menu">
                                <td>@annualReport.ID</td>
                                <td hidden>@annualReport.CityId</td>
                                <td>@annualReport.City.Name</td>
                                <td>@annualReport.City.Region.RegionName</td>
                                <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                <td>@annualReport.Date.ToString("dd-MM-yyyy")</td>
                                <td>@annualReport.Status.GetDescription()</td>
                            </tr>
                            break;
                        case AnnualReportStatus.Saved:
                            <tr class="saved-ar-menu">
                                <td>@annualReport.ID</td>
                                <td hidden>@annualReport.CityId</td>
                                <td>@annualReport.City.Name</td>
                                <td>@annualReport.City.Region.RegionName</td>
                                <td>@annualReport.User.FirstName @annualReport.User.LastName</td>
                                <td>@annualReport.Date.ToString("dd-MM-yyyy")</td>
                                <td>@annualReport.Status.GetDescription()</td>
                            </tr>
                            break;
                    }
                }
            </tbody>
        </table>
        <div id="ModalContent">

        </div>
        <div class="modal modal-success" id="ModalAddAnnualReport">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="m-2 text-center">
                            <h5 class="text-center m-2">Оберіть станицю для створення річного звіту</h5>
                        </div>
                        <div class="d-flex justify-content-center m-2">
                            <select id="CitiesList" asp-items="Model.Cities" class="form-control m-2"></select>
                        </div>
                        <div class="d-flex justify-content-center m-2">
                            <button id="CreateAnnualReportLikeAdmin" type="button" class="btn btn-block text-light m-2">Створити звіт</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block text-light" data-dismiss="modal">Закрити</button>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_SuccessModal" model='""' />
        <partial name="_ErrorModal" model='""' />
        <partial name="_YesNoModal" />
    </form>
</div>