@using Microsoft.AspNetCore.Identity
@inject SignInManager<EPlast.DataAccess.Entities.User> SignInManager
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlast</title>
    <meta charset="UTF-8" />
    @*<environment include="Development">*@
    <link href="~/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/mdb.min.css" />
    <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/mdbootstrap/css/style.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/bundles/css/bundle.css" rel="stylesheet" />
    @*</environment>*@

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <main class="main-wrapper">
            <nav class="navbar navbar-light justify-content-between plast-header">
                <div class="container-header">
                    <div class="navbar-header">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Plast_National_Scout_Organization.svg/803px-Plast_National_Scout_Organization.svg.png" class="plast-logo" alt="logo">

                        <a class="navbar-brand page-header-title" href="#">ePlast</a>
                    </div>

                    <div class="nav-content">
                        <ul class="navbar-nav form-inline align-self-center d-flex flex-row align-items-center">
                            <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">search</i></a></li>
                            <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">notification_important</i></a></li>
                            <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">settings</i></a></li>
                        </ul>
                        <div class="profile">
                            @*This "if need,because we would like to drop database.But user saved in your browser by cookie
                                This "If" will be deleted in the future*@
                            @if (@UserManager.GetUserAsync(User).Result != null)
                            {
                                <img src="/images/Users/@UserManager.GetUserAsync(User).Result.ImagePath" class="plast-avatar rounded-circle white-border" alt="Cinque Terre">
                            }
                            else
                            {
                                <img src="/images/Users/default.png" class="plast-avatar rounded-circle white-border" alt="Cinque Terre">
                            }

                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </nav>

            <div class="main-block">
                <div class="sidebar">
                    <div class="back-pic">
                        <div class="back-pic-inner">
                            @*This "if need,because we would like to drop database.But user saved in your browser by cookie
                                This "If" will be deleted in the future*@
                            @if (@UserManager.GetUserAsync(User).Result != null)
                            {
                                <img src="/images/Users/@UserManager.GetUserAsync(User).Result.ImagePath" class="plast-avatar rounded-circle" alt="Cinque Terre">
                            }
                            else
                            {
                                <img src="/images/Users/default.png" class="plast-avatar rounded-circle" alt="Cinque Terre">
                            }
                        </div>
                    </div>

                    <ul class="sidebar-ul">
                        <li class="sidebar-li"><a><div class="sidebar-logo profile-icon" onclick='onMenuHover(0)'></div></a></li>
                        <li class="sidebar-li"><a href="/Report/ReadRaport"><div class="sidebar-logo decision-icon" onclick='onMenuHover(1)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo dictionary-icon" onclick='onMenuHover(2)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo admin-icon" onclick='onMenuHover(3)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo cabinet-icon" onclick='onMenuHover(4)'></div></a></li>
                    </ul>
                </div>

                <div class="content">
                    <div class="backdrop" onclick="closeMenu()" style="visibility:hidden;">
                        <div class="slider" onclick="event.stopPropagation()">
                            <div class="menu-button-holder">
                                <button class="menu-button">Користувачі</button>
                            </div>
                        </div>
                    </div>

                    @RenderBody()
                </div>
            </div>
        </main>
    }
    else
    {
        <main class="home-wrapper">
            <div class="homelayout">
                <nav class=" navbar homepage-navbar navbar-light navbar-expand-xl fixed-top sticky-top " style=" background-color:#3c5438; padding-top:0;padding-bottom:0;">
                    <div class="container">
                        <a class="nav-link text-light" asp-action="Index" asp-controller="Home" style="font-size: 1.1em"><img src="~/images/homepage/ePlastLogotype.png" width="35" style="margin:0;" alt="PlastLogo"><p style="display:inline-block; margin: 10px 0px 0px 5px; font-size:1.1em;"> ePlast</p></a>
                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon" style="color:#ffffff;"></span>
                        </button>
                        <div class="collapse navbar-collapse d-xl-flex" id="navcol-1" style="font-size: 20px;">
                            <a asp-action="Index" id="menu_admin" asp-controller="Home" class="nav-link text-light m-lg-auto">Головна</a>
                            <a asp-action="AboutPLAST" id="menu_admin" asp-controller="Home" class="nav-link text-light m-lg-auto">Про Пласт</a>
                            <a class="nav-link text-light ml-auto">Календар Подій</a>
                            <a asp-action="FAQ" id="menu_admin" asp-controller="Home" class="nav-link text-light m-lg-auto">Часті запитання</a>
                            <a asp-action="Contacts" id="menu_admin" asp-controller="Home" class="nav-link text-light m-lg-auto">Контакти</a>
                            <a asp-action="Login" id="menu_admin" asp-controller="Account" class="nav-link text-light ml-auto">Увійти</a>
                        </div>
                    </div>
                </nav>
            </div>
        </main>
        @RenderBody()
    }

    @*<environment include="Development">*@

    <script src="~/lib/mdbootstrap/js/jquery.min.js"></script>
    <script src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/lib/mdbootstrap/js/addons/datatables.min.js"></script>
    <script src="~/lib/mdbootstrap/js/popper.min.js"></script>
    <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/bundles/js/bundle-min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    @*</environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>