@using EPlast.ViewModels;
@model DecisionViewModel
@{
    ViewData["Title"] = "Створення рішень";
}
<div class="Create-decision-form">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 50px;margin-top: 14px;font-size: 28px;">
        <span aria-hidden="true">×</span>
    </button>
    <form id="CreateDecisionForm">
        <h2 class="text-center">Додати рішення пластового проводу<br></h2>
        <div class="form-group">
            <label>
                <strong>Назва рішення</strong>
                <br>
            </label>
            @Html.TextBoxFor(x => x.DecisionWrapper.Decision.Name, new { @placeholder = "Назва рішення", @id = "Decision-Name", @class = "form-control" })
            <span asp-validation-for="@Model.DecisionWrapper.Decision.Name" />
        </div>
        <div class="form-group">
            <label>
                <strong>Рішення органу</strong>
                <br>
            </label>
            @Html.DropDownListFor(x => x.DecisionWrapper.Decision.Organization.ID, Model.OrganizationListItems
            , new { @class = "form-control", @id = "Decision-Organization-ID" })
        </div>
        <div class="form-group">
            <label>
                <strong>Тематика рішення</strong>
                <br>
            </label>
            @Html.TextBoxFor(x => x.DecisionWrapper.Decision.DecisionTarget.TargetName,
            new { @id = "autocomplete_input", @placeholder = "Тематика рішення", @list = "DecisionType-value", @class = "form-control", @Value = "" })
            <datalist id="DecisionType-value">
                @foreach (var item in Model.DecisionWrapper.DecisionTargets)
                {
                    <option data-value="@item.ID" value="@item.TargetName"></option>
                }
            </datalist>
            @Html.HiddenFor(x => x.DecisionWrapper.Decision.DecisionTarget.ID, new { @id = "autocomplete_input_id_0", @Value = "0" })
            <span asp-validation-for="@Model.DecisionWrapper.Decision.Date" />
        </div>
        <div class="form-group">
            <label>
                <strong>Дата рішення</strong>
                <br>
            </label>
            <br>
            @Html.TextBoxFor(x => x.DecisionWrapper.Decision.Date,
            new { type = "datetime", @placeholder = "Дата рішення", @id = "datepicker", @class = "form-control" })
            <span asp-validation-for="@Model.DecisionWrapper.Decision.Date" />
        </div>

        <div class="form-group">
            <label>
                <strong>Текст рішення</strong>
                <br>
            </label>
            @Html.TextAreaFor(x => x.DecisionWrapper.Decision.Description, new { @id = "Decision-Description", @placeholder = "Опис", @rows = "14", @class = "form-control" })
            <span asp-validation-for="@Model.DecisionWrapper.Decision.Description" />
        </div>
        <div class="form-group">
            <label>
                <strong>Статус рішення</strong>
                <br>
            </label>
            @Html.DropDownListFor(x => x.DecisionWrapper.Decision.DecisionStatusType, Model.DecisionStatusTypeListItems
            , new { @class = "form-control", @id = "Decision-DecisionStatusType" })
        </div>
        <div class="form-group">

            <br />
            <div class="upload-btn-wrapper">
                <button class="upload-btn">Прикріпити файл</button>
                @Html.TextBoxFor(x => x.DecisionWrapper.File, new
           {
               @placeholder = "прекріплення файлу",
               @id = "CreateDecisionFormFile",
               @type = "file",
               @class = "form-control",
               @accept = $"application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*"
           })
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="CreateDecisionForm-submit" type="submit">Опублікувати</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}