@using EPlast.ViewModels
@using EPlast.BussinessLayer.ExtensionMethods
@using EPlast.Controllers
@model Tuple<DecesionViewModel, List<DecesionViewModel>>
@{
    ViewData["Title"] = "Читання рішень";

}
<div class="container-fluid">

    <div class="data-table-wrapper">
        <div class="cust_bloglistintro ">
            <h1 id="action-title" class="text-center-action decision-heading">Рішення керівних органів</h1>
        </div>

        <table id="dtReadDecesion" class="table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0">
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Назва
                    </th>
                    <th class="th-sm">
                        Керівний орган
                    </th>
                    <th class="th-sm">
                        Статус
                    </th>
                    <th class="th-sm">
                        Рішення для
                    </th>
                    <th class="th-sm">
                        Рішення
                    </th>
                    <th class="th-sm">
                        Дата
                    </th>
                    <th class="th-sm">
                        Додатки
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr class="decesion-menu">
                        <td>@item.Decesion.ID</td>
                        <td>@item.Decesion.Name</td>
                        <td>@item.Decesion.Organization.OrganizationName</td>
                        <td>@item.Decesion.DecesionStatusType.GetDescription()</td>
                        <td>@item.Decesion.DecesionTarget.TargetName</td>
                        <td>
                            @if (item.Decesion.Description.Length > 50 && item.Decesion.Description.Length - 50 > 15)
                            {
                                @item.Decesion.Description.Substring(0, 50)<span class="show_hide"><strong>...більше</strong></span>
                                <p class="hidden">@item.Decesion.Description.Substring(51)<span class="hide_show"><strong>...менше</strong></span></p>
                            }
                            else
                            {
                                @item.Decesion.Description
                            }
                        </td>
                        <td>@item.Decesion.Date.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Filename))
                            {
                                <a asp-controller="Documentation" asp-action="Download" asp-route-id="@item.Decesion.ID" asp-route-filename="@item.Filename">додаток.@item.Filename.Split('.')[1]</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="CreateDecesionModal" role="dialog" tabindex="-1" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <partial name="~/Views/Documentation/_CreateDecesion.cshtml" model="Model.Item1" />
        </div>
    </div>
</div>
<div id="EditDecesionModal" role="dialog" tabindex="-1" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <partial name="~/Views/Documentation/_EditDecesion.cshtml" />
        </div>
    </div>
</div>
<div id="DeleteDecisionModal" role="dialog" tabindex="-1" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <partial name="~/Views/Documentation/_DeleteDecision.cshtml" />
        </div>
    </div>
</div>
<partial name="_SuccessModal" model="@ViewData["Message"]" />
<partial name="_ErrorModal" model="@ViewData["ErrorMessage"]" />