@using Microsoft.AspNetCore.Identity
@model EPlast.ViewModels.RoleViewModel
   
        <div class="modal-content">
            <div class="modal-header">
                <h4>Права доступу для @Model.UserEmail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form asp-action="Edit" method="post">
                <div class="modal-body">

                    <input type="hidden" name="userId" value="@Model.UserID" />

                    <div class="form-group checkboxEPlast">
                        @foreach (IdentityRole role in Model.AllRoles)
                        {
                            <div class="custom-control custom-checkbox">
                                <input name="roles" type="checkbox" value="@role.Name" class="custom-control-input" id="@role.Id" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                                <label class="custom-control-label" for="@role.Id">@role.Name</label>
                                <br />
                            </div>
                        }
                    </div>
                </div>
                
                <div class="modal-footer">
                        <button type="submit" class="btn" style="background-color:#3c5438; color:white;">Зберегти</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                </div>
            </form>
        </div>

   
