@model IEnumerable<EPlast.DataAccess.Entities.CityAdministration>

@foreach (var item in Model)
{
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/images/Users/@item.User.ImagePath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @item.User.FirstName @item.User.LastName</h5>
                <p class="card-text"> @item.AdminType.AdminTypeName<br /> @item.User.Email</p>
            </div>
            <a class="stretched-link" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id"></a>
        </div>
    </div>
}
    
