@using EPlast.ViewModels
@model IEnumerable<UserTableViewModel>
@{
    ViewData["Title"] = "Таблиця користувачів";
}
<div class="container-fluid">
    <div class="data-table-wrapper admin-edit">
        @if (User.IsInRole("Admin"))
        {
            <input hidden id="role" value="Admin" />
        }
        <table id="dtUsersTable" class="table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0">
            <thead>
                <tr>
                    <th class="th-sm">
                        Прізвище
                    </th>
                    <th class="th-sm">
                        Ім'я
                    </th>
                    <th class="th-sm">
                        Стать
                    </th>
                    <th class="th-sm">
                        День народження
                    </th>
                    <th class="th-sm">
                        Ступінь
                    </th>
                    <th class="th-sm">
                        Email
                    </th>
                    <th class="th-sm">
                        Округа
                    </th>
                    <th class="th-sm">
                        Станиця
                    </th>
                    <th class="th-sm">
                        Курінь
                    </th>
                    <th class="th-sm">
                        Права доступу EPlast
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="context-menu-one" data-id="@item.User.Id">
                        <td data-order="@item.User.LastName"><a asp-controller="Account" asp-action="UserProfile" asp-route-userId="@item.User.Id">@item.User.LastName</a></td>
                        <td data-order="@item.User.FirstName"><a asp-controller="Account" asp-action="UserProfile" asp-route-userId="@item.User.Id">@item.User.FirstName</a></td>
                        <td>
                            @if (item.User.UserProfile.GenderID == null)
                            {<span>Не обрано</span>}
                            else
                            {<Span>@item.User.UserProfile.Gender.Name</Span>}
                        </td>

                        @if (@item.User.UserProfile.Birthday != null)
                        {
                            <td data-order="@{
                                DateTime.UtcNow.Subtract(@item.User.UserProfile.Birthday.Value).TotalSeconds.ToString();
                                    } ">
                                @item.User.UserProfile.Birthday.Value.ToString("dd-MM-yyyy")
                            </td>

                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@item.UserPlastDegreeName</td>
                        <td>@item.User.Email</td>
                        <td>@item.RegionName</td>
                        <td>@item.CityName</td>
                        <td>@item.ClubName</td>
                        <td>@item.UserRoles</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
    </div>
</div>   