@model EPlast.ViewModels.EventUser.EventUserViewModel

<div id="visitedModal" class="modal modal-success" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header">
                <h4 class="modal-title">Відвіданих подій: @Model.VisitedEventsCount</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div style="height:430px; overflow-y:scroll" class="modal-body">
                @foreach (var item in Model.VisitedEvents)
                {
                    <p>@item.EventName</p>
                    <p class="text-secondary">
                        <small>Дата початку: @item.EventDateStart.ToString("dd-MM-yyyy"), дата завершення: @item.EventDateEnd.ToString("dd-MM-yyyy")</small>
                    </p>
                    <a style="background-color:#3c5438" class="btn btn-success btn-lg" role="button"
                       asp-controller="Action" asp-action="EventInfo" asp-route-ID=@item.ID>Деталі</a>
                    <p>___________________________________________________________________________</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-light" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<div id="planedModal" class="modal modal-success" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header">
                <h4 class="modal-title">Запланованих подій: @Model.PlanedEventCount</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div style="height:430px; overflow-y:scroll" class="modal-body">
                @foreach (var item in Model.PlanedEvents)
                {
                    <p>@item.EventName</p>
                    <p class="text-secondary">
                        <small>Дата початку: @item.EventDateStart.ToString("dd-MM-yyyy"), дата завершення: @item.EventDateEnd.ToString("dd-MM-yyyy")</small>
                    </p>
                    <a style="background-color:#3c5438" class="btn btn-success btn-lg" role="button"
                       asp-controller="Action" asp-action="EventInfo" asp-route-ID=@item.ID>Деталі</a>
                    <p>___________________________________________________________________________</p>
                }
            </div>
            <div class="modal-footer">
                <a role="button" asp-action="GetAction" asp-controller="Action" class="btn btn-success">Запланувати нову подію</a>
                <button type="button" class="btn btn-danger text-light" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<div id="createdModal" class="modal modal-success" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header">
                <h4 class="modal-title">Створених подій: @Model.CreatedEventCount</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div style="height:430px; overflow-y:scroll" class="modal-body">
                @foreach (var item in Model.CreatedEvents)
                {
                    <p>@item.EventName</p>
                    <p class="text-secondary">
                        <small>Дата початку: @item.EventDateStart.ToString("dd-MM-yyyy"), дата завершення: @item.EventDateEnd.ToString("dd-MM-yyyy")</small>
                    </p>
                    <a style="background-color:#3c5438" class="btn btn-success btn-lg" role="button"
                       asp-controller="Action" asp-action="EventInfo" asp-route-ID=@item.ID>Деталі</a>
                    <p>___________________________________________________________________________</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-light" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
