@using EPlast.DataAccess.Entities
@{
    ViewData["Title"] = "Event Edit Page";
}
@model EPlast.ViewModels.EventUser.EventCreateViewModel;
<div class="eventCreate">
    <div class="d-xl-flex justify-content-xl-center border shadow card">
        <div class="col ">
            <div class="row">
                <div class="col">
                    <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-center">
                        <h1 class="text-center">Редагувати подію</h1>
                    </div>
                </div>
            </div>
            <form method="post" asp-action="EventEdit" asp-controller="EventUser">
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    @foreach (var item in Model.EventTypes)
                    {
                        <div class="col justify-content-xl-center align-items-xl-center" id="block">
                            <button class="btn typebutton" id="@item.ID" type="button">@item.EventTypeName</button>
                        </div>
                    }
                    <input type="hidden" id="name" asp-for="Event.EventTypeID" />
                </div>
                <span asp-validation-for="Event.EventTypeID" class="text-danger"></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label" id="type">Катергорія</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <select id="select" asp-for="Event.EventCategoryID" asp-items='new SelectList(Model.EventCategories, "EventCategoryId", "EventCategoryName")' 
                                class=" border TextIinput infoInput form-control"></select>
                    </div>
                </div>
                <span asp-validation-for="Event.EventCategoryID" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Назва події</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <input asp-for="Event.EventName" type="text" placeholder="@Model.Event.EventName" class="border TextIinput infoInput">
                    </div>
                </div>
                <span asp-validation-for="Event.EventName" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Дата початку</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        @Html.TextBoxFor(x => x.Event.EventDateStart,
                            new { type = "datetime", @placeholder = Model.Event.EventDateStart, @id = "txtFromDate", @class = "border textBoxInput" })
                    </div>
                </div>
                <span asp-validation-for="Event.EventDateStart" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Дата завершення</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        @Html.TextBoxFor(x => x.Event.EventDateEnd,
                            new { type = "datetime", @placeholder = Model.Event.EventDateEnd, @id = "txtToDate", @class = "border textBoxInput" })
                    </div>
                </div>
                <span asp-validation-for="Event.EventDateEnd" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Форма проведення</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <input asp-for="Event.FormOfHolding" type="text" placeholder="@Model.Event.FormOfHolding" class="border TextIinput infoInput">
                    </div>
                </div>
                <span asp-validation-for="Event.FormOfHolding" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Локація</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <input asp-for="Event.Eventlocation" type="text" placeholder="@Model.Event.Eventlocation" class="border TextIinput infoInput">
                    </div>
                </div>
                <span asp-validation-for="Event.Eventlocation" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Призначений для</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <input asp-for="Event.ForWhom" type="text" placeholder="@Model.Event.ForWhom" class="border TextIinput infoInput">
                    </div>
                </div>
                <span asp-validation-for="Event.ForWhom" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center">
                    <div class="col text-center d-xl-flex justify-content-xl-center">
                        <label class="col-form-label">Приблизна кількість учасників</label>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <input asp-for="Event.NumberOfPartisipants" type="text" placeholder="@Model.Event.NumberOfPartisipants" class="border TextIinput infoInput">
                    </div>
                </div>
                <span asp-validation-for="Event.NumberOfPartisipants" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center" style="height: 123px;">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <div class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 38px;">
                                    <div class="col text-left d-xl-flex justify-content-xl-center align-items-xl-center">
                                        <label class="col-form-label">Питання/побажання до булави</label>
                                    </div>
                                    <div class="col">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 76px;">
                                    <textarea class="border TextIinput bigInput" asp-for="Event.Questions" 
                                              placeholder=@Model.Event.Questions cols="30" rows="7"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Event.Questions" class="text-danger "></span>
                <div class="row border shadow text-center justify-content-xl-center align-items-xl-center" style="height: 123px;">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <div class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 38px;">
                                    <div class="col text-left d-xl-flex justify-content-xl-center align-items-xl-center">
                                        <label class="col-form-label">Які впрваджено зміни/додаки ?</label>
                                    </div>
                                    <div class="col">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 76px;">
                                    <textarea class="border TextIinput bigInput" asp-for="Event.Description" 
                                              placeholder=@Model.Event.Description cols="30" rows="7"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Event.Description" class="text-danger "></span>
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <button class="btn submitButton" type="submit">Створити подію</button>
                    </div>
                </div>
            </form>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </div>
</div>
