@using EPlast.ViewModels;
@model ContactsViewModel 

<div class="main-wrapper" style="background-color: rgb(245,245,245); width:100%">
    <div id="contact" style="padding:40px;padding-right:5px;padding-left:4px;">
        <div class="container">
            <div class="form-row" style="margin-left:0px;margin-right:0px;padding:10px;">
                <div class="col-md-6" style="padding-left:20px;padding-right:20px;">
                    <fieldset></fieldset>
                    <legend><i class="fa fa-info"></i>&nbsp;Контакти</legend>
                    <p></p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-map-marker"></i></td>
                                    <td>Україна</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-phone"></i></td>
                                    <td>+38(099)-99-99-99-9 </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope"></i></td>
                                    <td>info@plast.ua</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6" id="message" style="padding-right:20px;padding-left:20px;">
                    <form method="post" asp-action="SendContacts" asp-controller="Home" style="padding:15px;" id="contactForm">
                        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group has-feedback">
                            <label for="from_name">Вкажіть своє ім'я</label>
                            <input class="form-control" asp-for="@Model.Name" type="text" id="from_name" tabindex="-1" placeholder="Ім'я">
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="from_email">Вкажіть свій email</label>
                            <input class="form-control" asp-for="@Model.Email" type="email" id="from_email" placeholder="Ваша email адреса">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="from_phone">Вкажіть ваш номер телефону</label>
                            <input class="form-control" asp-for="@Model.PhoneNumber" type="text" id="from_phone" placeholder="+38(066)-66-6666">
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="comments">Опиши своє звернення</label>
                            <textarea asp-for="@Model.FeedBackDescription" class="form-control" id="comments" placeholder="Введи текст повідомлення тут.." rows="5"></textarea>
                            <span asp-validation-for="@Model.FeedBackDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary active btn-block" style="background-color:#3c5438;" type="submit">
                                Відправити
                            </button>
                        </div>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
