@using EPlast.DataAccess.Entities
@model EPlast.ViewModels.SearchSurname

    <div class="main-wrapper">
        <div class="data-table-wrapper">
            <h3 class="text-center">Результати пошуку ePlast</h3>
        </div>
        <div class="container" style="width:100%;">
            @foreach (User item in Model.Users)
            {
                <div class="row" style="margin: 0px; width:100%">
                    <div class="col-md-12 d-xl-flex justify-content-xl-start align-items-xl-center" style="height: 170px;width: 100%;margin: 15px;margin-right: 0px;margin-left: 0px;padding: 5px;">
                        <div class="border rounded d-inline-flex justify-content-xl-start align-items-xl-center" style="height: 100%;background-color: #ffffff;width: 100%;padding-right: 20px;padding-left: 20px;">
                            <div><img class="border rounded-circle shadow-sm" src="/images/Users/@item.ImagePath" alt="Card image cap" style="height: 150px;width: 150px;" /></div>
                            <a class="stretched-link" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.Id">
                                <div style="height: 100%;padding: 5px;padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                                    <p style="font-size: 20px;"> @item.FirstName @item.LastName</p>
                                    <p style="font-size: 18px;"> @item.Email</p>
                                    <p style="font-size: 18px;"> @item.PhoneNumber</p>
                                </div>
                                </a>
                      </div>
                    </div>
                </div>
            }
        </div>

    </div>

    