@using EPlast.ViewModels

@model Tuple<DecisionViewModel, List<DecisionViewModel>>
@{
    ViewData["Title"] = "Читання рішень";

}
<div class="container-fluid">

    <div class="data-table-wrapper">
        <div class="cust_bloglistintro ">
            <h1 id="action-title" class="text-center-action decision-heading">Рішення керівних органів</h1>
        </div>

        <table id="dtReadDecision" class="table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0">
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Назва
                    </th>
                    <th class="th-sm">
                        Керівний орган
                    </th>
                    <th class="th-sm">
                        Статус
                    </th>
                    <th class="th-sm">
                        Рішення для
                    </th>
                    <th class="th-sm">
                        Рішення
                    </th>
                    <th class="th-sm">
                        Дата
                    </th>
                    <th class="th-sm">
                        Додатки
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr class="decision-menu">
                        <td>@item.DecisionWrapper.Decision.ID</td>
                        <td>@item.DecisionWrapper.Decision.Name</td>
                        <td>@item.DecisionWrapper.Decision.Organization.OrganizationName</td>
                        <td>@item.DecisionWrapper.Decision.Description</td>
                        <td>@item.DecisionWrapper.Decision.DecisionTarget.TargetName</td>
                        <td>
                            @if (item.DecisionWrapper.Decision.Description.Length > 50 && item.DecisionWrapper.Decision.Description.Length - 50 > 15)
                            {
                                @item.DecisionWrapper.Decision.Description.Substring(0, 50)<span class="show_hide"><strong>...більше</strong></span>
                                <p class="hidden">@item.DecisionWrapper.Decision.Description.Substring(51)<span class="hide_show"><strong>...менше</strong></span></p>
                            }
                            else
                            {
                                @item.DecisionWrapper.Decision.Description
                            }
                        </td>
                        <td>@item.DecisionWrapper.Decision.Date.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.DecisionWrapper.Filename))
                            {
                                <a asp-controller="Decision" asp-action="Download" asp-route-id="@item.DecisionWrapper.Decision.ID" asp-route-filename="@item.DecisionWrapper.Filename">додаток.@item.DecisionWrapper.Filename.Split('.')[1]</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="CreateDecisionModal" role="dialog" tabindex="-1" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <partial name="~/Views/Decision/_CreateDecision.cshtml" model="Model.Item1" />
        </div>
    </div>
</div>
<div id="EditDecisionModal" role="dialog" tabindex="-1" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <partial name="~/Views/Decision/_EditDecision.cshtml" />
        </div>
    </div>
</div>
<div id="DeleteDecisionModal" role="dialog" tabindex="-1" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <partial name="~/Views/Decision/_DeleteDecision.cshtml" />
        </div>
    </div>
</div>
<partial name="_SuccessModal" model="@ViewData[" Message"]" />
<partial name="_ErrorModal" model="@ViewData[" ErrorMessage"]" />