@using EPlast.ViewModels.City
@model CityProfileViewModel
@{
    ViewData["Title"] = "Члени Станиці";
}
<div class="cityMembesWrapper">
    <div class="d-flex flex-shrink-0 justify-content-center flex-wrap">
        @foreach (var membrCity in Model.Members)
        {
            <div class="card border rounded shadow-none d-inline float-left">
                @if (User.IsInRole("Admin") || User.Identity.Name == Model.Head.User.Email)
                {
                    <div class="float-left d-xl-flex justify-content-xl-center align-items-xl-center">
                        <a class="d-xl-flex justify-content-xl-end"><i class="fa fa-gear" style="font-size: 24px;"></i></a>
                        <a class="float-none d-xl-flex" asp-action="RemoveCityMember" asp-controller="City" asp-route-cityId="@Model.City.ID" asp-route-userId="@membrCity.UserId"><i class="fa fa-close" style="font-size: 24px;"></i></a>
                    </div>
                }
                <div class="border rounded-circle" style=" background-image: url('../../images/Users/@membrCity.User.ImagePath');"></div>
                <div class="d-inline">
                    <p class="text-center d-xl-flex justify-content-xl-center">@membrCity.User.FirstName</p>
                    <p class="text-center d-xl-flex justify-content-xl-center">@membrCity.User.LastName</p>
                </div>
            </div>
        }
        <input value="@Model.City.ID" type="hidden" name="cityId" id="cityId" />
    </div>
    <div class="row">
        <a asp-action="CityProfile" asp-controller="City" asp-route-cityId="@Model.City.ID"
           class="city-detail-btn btn btn-primary btn-block btn-lg text-center border-dark shadow-sm mx-auto" role="button">
            Назад
        </a>
    </div>
</div>