@using EPlast.ViewModels.City
@model CityViewModel
@{
    ViewData["Title"] = "Деталі станиці";
}
<div class="main-wrapper">
    <div class="container content-wrapper">
            <div class="row mt-4 d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="portlet light profile-sidebar-portlet bordered">
                        <div class="profile-userpic">
                            <img src="/images/Cities/@Model.Logo" class="img-thumbnail" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Деталі Станиці - "@Model.Name"</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @if (@Model.Description != null)
                                {
                                    <div class="form-group row">
                                        <label for="username" class="col-6 col-form-label font-weight-bold">Опис</label>
                                        <p class="col-6 col-form-label">@Model.Description</p>
                                    </div>
                                }
                                @if (@Model.Email != null)
                                {
                                    <div class="form-group row">
                                        <label for="email" class="col-6 col-form-label font-weight-bold">Email</label>
                                        <p class="col-6 col-form-label">@Model.Email</p>
                                    </div>
                                }
                                @if (@Model.PhoneNumber != null)
                                {
                                    <div class="form-group row">
                                        <label for="phone" class="col-6 col-form-label font-weight-bold">Номер телефону</label>
                                        <p class="col-6 col-form-label">@Model.PhoneNumber</p>
                                    </div>
                                }
                                @if (@Model.CityURL != null)
                                {
                                    <div class="form-group row">
                                        <label for="text" class="col-6 col-form-label font-weight-bold">Наш web-сайт</label>

                                        <p class="col-6 col-form-label">@Model.CityURL</p>

                                    </div>
                                }
                                <div class="form-group row">
                                    <label for="email" class="col-6 col-form-label font-weight-bold">Наше представництво</label>
                                    <p class="col-6 col-form-label">@Model.Street, @Model.HouseNumber</p>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <a asp-controller="City" asp-action="CityProfile" asp-route-cityId="@Model.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Назад</a>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>