@using EPlast.ViewModels
@using Microsoft.AspNetCore.Identity
@model CityViewModel
@{
    ViewData["Title"] = "Редагування Станиці";
}
    <div class="main-wrapper" id="divEditCity">
        <div class="container content-wrapper" id="divCityContainer">
            <div class="data-table-wrapper-club club-wrappers-radius data-table-wrapper" id="divFormEditCity">
                <h1 class="grid-header">Редагування Станиці - "@Model.City.Name"</h1>
                <form class="container mt-4" id="formCityContainer" asp-action="Edit" asp-controller="City" asp-route-cityid="@Model.City.ID" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-7">
                            @Html.HiddenFor(model => model.City.ID)
                            <div class="form-group">
                                <label asp-for="City.Name" class="control-label">Назва</label>
                                <input asp-for="City.Name" class="form-control">
                                <span asp-validation-for="City.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="City.Description" class="control-label">Опис</label>
                                <input asp-for="City.Description" class="form-control">
                                <span asp-validation-for="City.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City.CityURL" class="control-label">Посилання</label>
                                <input asp-for="City.CityURL" type="url" class="form-control">
                                <span asp-validation-for="City.CityURL" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="City.PhoneNumber" class="control-label">Номер телефону</label>
                                <input asp-for="City.PhoneNumber" id="phoneNumber" class="form-control" />
                                <span asp-validation-for="City.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City.Email" class="control-label">Електронна пошта</label>
                                <input asp-for="City.Email" type="email" class="form-control" />
                                <span asp-validation-for="City.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City.Street" class="control-label">Вулиця</label>
                                <input asp-for="City.Street" class="form-control" />
                                <span asp-validation-for="City.Street" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City.HouseNumber" class="control-label">Номер Будинку</label>
                                <input asp-for="City.HouseNumber" class="form-control" />
                                <span asp-validation-for="City.HouseNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City.OfficeNumber" class="control-label">Номер Офісу\Квартири</label>
                                <input asp-for="City.OfficeNumber" class="form-control" />
                                <span asp-validation-for="City.OfficeNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City.PostIndex" class="control-label">Поштовий Індекс</label>
                                <input asp-for="City.PostIndex" class="form-control" />
                                <span asp-validation-for="City.PostIndex" class="text-danger"></span>
                            </div>
                            <button type="submit" value="Save" class="btn submitCity">Підтвердити</button>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <div class="col">
                                    <img src="/images/Cities/@Model.City.Logo" class="img-thumbnail rounded mx-auto d-block" id="img" alt="city logo" />
                                    <div class="row rowEditPage">
                                        <div id="photo-wrapper" class="photo-wrapper">
                                            <div class="Upload-photo">
                                                <button id="upload-btn" class="upload-btn">Вибрати...</button>
                                                <input type="file" class="custom-file-input" id="upload-file" accept=".jpg,.jpeg,.png" name="file" onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])">
                                            </div>
                                            <div class="accept">
                                                <button type="submit" value="Save" id="Upload-photo" class="btn submitCity">Підтвердити</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container content-wrapper" id="divCityContainer">
              <div class="data-table-wrapper" id="divTableEditCity">
                        <table id="dtClubAdmins" class="table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">
                                        ПІБ
                                    </th>
                                    <th class="th-sm">
                                        Статус
                                    </th>
                                    <th class="th-sm">
                                        Тип Посади
                                    </th>
                                    <th class="th-sm">
                                        Час вступу на посаду
                                    </th>
                                    <th class="th-sm">
                                        Час завершення терміну
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CityAdmins)
                                {
                                    <tr class="raport-click-row">
                                        <td>
                                            <a id="linkUser" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id">
                                                @item.User.LastName @item.User.FirstName @(item.User.FatherName??"")
                                            </a>
                                        </td>
                                        <td>Адміністратор</td>
                                        <td>@item.AdminType.AdminTypeName</td>
                                        <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
                                        @if (@item.EndDate.HasValue)
                                        {
                                            <td>@item.EndDate.Value.ToString("dd-MM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                    </tr>
                                }
                                @foreach (var item in Model.Members)
                                {
                                    <tr class="raport-click-row">
                                        <td>
                                            <a id="linkUser" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id">
                                                @item.User.LastName @item.User.FirstName @(item.User.FatherName??"")
                                            </a>
                                        </td>
                                        <td>Член Станиці</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                }
                                @foreach (var item in Model.Followers)
                                {
                                    <tr class="raport-click-row">
                                        <td>
                                            <a id="linkUser" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id" style="color:black">
                                                @item.User.LastName @item.User.FirstName @(item.User.FatherName??"")
                                            </a>
                                        </td>
                                        <td>Прихильник Станиці</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a asp-controller="City" asp-action="CityProfile" asp-route-cityid="@Model.City.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Назад</a>
                    </div>
        </div>
    </div>
