@using EPlast.ViewModels
@model ClubProfileViewModel
@{
    ViewData["Title"] = "ClubMembers";
}
<script>
    const CurrentClub = @Html.Raw(Json.Serialize(Model.Club.ID));
</script>
@await Html.PartialAsync("_ClubModals")
<div class="content-wrapper">
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Члени куреня</h1>
        <div class="club-list">
            @foreach (var item in Model.Members)
            {
                <div class="club-block-wrapper">
                    <div class="club-block club-wrappers-radius">
                        @if (Model.IsCurrentUserAdmin || Model.IsCurrentUserClubAdmin)
                        {
                            <div class="setting-button-on-ClubMembers">
                                <a class="ClubMemberToAdmin" data-adminid="@item.ID" role="button" data-toggle="modal" href="#addClubAdministration" 
                                   style="color: #3c5438; padding: 5px;"><em class="material-icons">settings</em></a>
                            </div>
                        }
                        <a class="club-img-wrapper blocking" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id">
                            @if (item.User.ImagePath != null)
                            {
                                <div class="club-img" style="background-image:url('/images/Users/@item.User.ImagePath')"></div>
                            }
                            else
                            {
                                <div class="club-img" style="background-image:url('/images/Users/default.png')"></div>
                            }
                        </a>
                        <a class="club-name" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id" style="color: black;">
                            @item.User.FirstName @item.User.LastName
                        </a>
                        @if (Model.IsCurrentUserAdmin || Model.IsCurrentUserClubAdmin)
                        {
                            <a class="btn btn-primary btn-lg colors-for-club-buttons" role="button" asp-controller="Club" asp-action="ChangeIsApprovedStatus" 
                               asp-route-index="@item.ID" asp-route-clubindex="@item.Club.ID" style="display: block; color: white;">Видалити з куреня</a>

                        }
                        </div>
                </div>
            }
            @if (!Model.Members.Any())
            {
                <p>В цьому курені поки немає проводу!</p>
            }
        </div>
        <a asp-controller="Club" asp-action="Club" asp-route-index="@Model.Club.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Назад</a>
    </div>
</div>