@using EPlast.ViewModels
@model ClubProfileViewModel
@{
    ViewData["Title"] = "Club";
}
<div class="content-wrapper">
    <div class="club-page-wrapper">
        <div class="main-info grid-block club-wrappers-radius">
            <h1 class="grid-header">
                @Model.Club.ClubName
                @if (Model.IsCurrentUserAdmin||Model.IsCurrentUserClubAdmin)
                {
                    <a asp-controller="Club" asp-action="EditClub" asp-route-index="@Model.Club.ID" style="color: #3c5438;"><i class="material-icons">settings</i></a>
                }
            </h1>

            <div class="top-info">
                @if (Model.Club.Logo != null)
                {
                    <img src="/images/Club/@Model.Club.Logo" alt="" class="curin-img">
                }
                else
                {
                    <img src="~/images/Club/default.jpg" alt="" class="curin-img">
                }
            </div>

            <div class="bottom-info-content">
                <div>
                    @foreach (var item in Model.ClubAdministration.Take(4))
                    {
                        <div class="line-pair">
                            <p class="line-upper">@item.AdminType.AdminTypeName</p>
                            <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.ClubMembers.User.Id" style="color:black">
                                <p class="line-lower">@item.ClubMembers.User.FirstName.ToString() @item.ClubMembers.User.LastName.ToString()</p>
                            </a>
                        </div>
                    }
                </div>
                <a asp-controller="Club" asp-action="ClubAdmins" asp-route-index="@Model.Club.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Більше</a>
            </div>
        </div>

        <div class="secondary-info vertical-grid">
            @if (Model.Club.Description != null)
            {
                <div class="about-info grid-block club-wrappers-radius">
                    <h1 class="grid-header">Про нас</h1>

                    <p class="info">
                        @if (Model.Club.Description.Length < 100)
                        {
                            @Model.Club.Description
                        }
                        else
                        {
                            @(Model.Club.Description.Substring(0, 97) + "...")
                        }
                    </p>
                    @if (Model.Club.Description.Length > 100)
                    {
                        <a asp-controller="Club" asp-action="ClubDescription" asp-route-index="@Model.Club.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Читати повністю</a>
                    }
                </div>
            }


            <div class="people-info horizontal-grid">
                <div class="members-info grid-block club-wrappers-radius">
                    <h1 class="grid-header">Провід куреня</h1>
                    <div class="members-list">
                        @foreach (var item in Model.Members)
                        {
                            <div class="member-block" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id">
                                <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id">
                                    @if (item.User.ImagePath != null)
                                    {
                                        <img src="/images/Users/@item.User.ImagePath" alt="" class="member-img rounded-circle">

                                    }
                                    else
                                    {
                                        <img src="~/images/Users/default.png" alt="" class="member-img rounded-circle">
                                    }
                                </a>
                                <p class="member-name">@item.User.FirstName.ToString() @item.User.LastName.ToString()</p>

                            </div>
                        }
                        @if (Model.Members.Count == 0)
                        {
                            <p class="no-followers-in-club">В цьому курені поки немає проводу!</p>
                        }
                    </div>
                    <a asp-controller="Club" asp-action="ClubMembers" asp-route-index="@Model.Club.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Переглянути всіх</a>
                </div>
                <div class="followers-info grid-block club-wrappers-radius">
                    <h1 class="grid-header">Прихильники</h1>

                    <div class="members-list">
                        @foreach (var item in Model.Followers)
                        {
                            <div class="member-block">
                                <div class="member-wrapper">
                                    <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.User.Id">
                                        @if (item.User.ImagePath != null)
                                        {
                                            <img src="/images/Users/@item.User.ImagePath" alt="" class="member-img rounded-circle">

                                        }
                                        else
                                        {
                                            <img src="~/images/Users/default.png" alt="" class="member-img rounded-circle">
                                        }
                                    </a>
                                    @if (Model.IsCurrentUserAdmin || Model.IsCurrentUserClubAdmin)
                                    {
                                        <a class="plus" asp-controller="Club" asp-action="ChangeIsApprovedStatusClub" asp-route-index="@item.ID" asp-route-clubIndex="@item.Club.ID" style="display: block;">
                                            +
                                        </a>
                                    }
                                </div>
                                <p class="member-name">@item.User.FirstName.ToString() @item.User.LastName.ToString()</p>

                            </div>
                        }
                        @if (Model.Followers.Count == 0)
                        {
                            <p class="no-followers-in-club">В цьому курені поки немає прихильників!</p>
                        }
                    </div>

                    <a asp-controller="Club" asp-action="ClubFollowers" asp-route-index="@Model.Club.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Переглянути всіх</a>
                </div>
            </div>
        </div>
    </div>
</div>