@using EPlast.ViewModels
@model ClubProfileViewModel
@{
    ViewData["Title"] = "ClubAdmins";
}
<script>
     const CurrentClub = @Html.Raw(Json.Serialize(Model.Club.ID));
</script>
@await Html.PartialAsync("_ClubModals")
<div class="content-wrapper container-fluid">
    <div class="data-table-wrapper-club club-wrappers-radius data-table-wrapper">
        <h1 class="grid-header">Адміністрація куреня - "@Model.Club.ClubName"</h1>
        <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>

        <table id="dtClubAdmins" class="table table-striped table-bordered table-lg table-responsive-lg" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        Посада
                    </th>
                    <th class="th-sm">
                        ПІБ
                    </th>
                    <th class="th-sm">
                        Час вступу на посаду
                    </th>
                    <th class="th-sm">
                        Час завершення терміну
                    </th>
                    @if ((Model.ClubAdmin != null && ViewBag.usermanager.GetUserId(User) == Model.ClubAdmin.Id) || User.IsInRole("Admin"))
                    {
                        <th>
                            Вибрати дату завершення каденції
                        </th>
                        <th>
                            Видалити з списку
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClubAdministration)
                {
                    <tr class="raport-click-row">
                        <td>@item.AdminType.AdminTypeName</td>
                        <td>
                            <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.ClubMembers.User.Id" style="color:black">
                                @item.ClubMembers.User.LastName @item.ClubMembers.User.FirstName @(item.ClubMembers.User.FatherName ?? "")
                            </a>
                        </td>

                        <td>@item.StartDate.ToString("dd-MM-yyyy")</td>

                        @if (@item.EndDate.HasValue)
                        {
                            <td class="ClubAdminEndDate">@item.EndDate.Value.ToString("dd-MM-yyyy")</td>
                        }
                        else
                        {
                            <td class="ClubAdminEndDate">-</td>
                        }

                        @if ((Model.ClubAdmin != null && ViewBag.usermanager.GetUserId(User) == Model.ClubAdmin.Id) || User.IsInRole("Admin"))
                        {
                            <td>
                                <a class="changeEnddatebutton" data-adminid="@item.ID" style="color: #3c5438; justify-content: center;    display: flex;" role="button" data-toggle="modal" href="#changeEnddate">
                                    <i class="material-icons">alarm</i>
                                </a>
                            </td>

                            <td>
                                <a asp-controller="Club" asp-action="DeleteFromAdmins" asp-route-adminId="@item.ID" asp-route-clubIndex="@item.Club.ID" style="color: #3c5438;">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Club" asp-action="Club" asp-route-index="@Model.Club.ID" class="btn btn-primary btn-lg colors-for-club-buttons" role="button">Назад</a>
    </div>
</div>