@using Microsoft.AspNetCore.Identity
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5 user-profile">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(ViewBag.ActiveNav == "UserProfile" ? "active" : "")" href="/Account/UserProfile?userId=@Model.User.Id">Персональні дані</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#">Дійсне членство</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.ActiveNav == "Positions" ? "active" : "")" href="/Account/Positions?userId=@Model.User.Id">Діловодства</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.ActiveNav == "EventUser" ? "active" : "")" href="/EventUser/EventUser">Події</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#">З'їзди</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#">Бланки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewBag.ActiveNav == "Approvers" ? "active" : "")" href="/Account/Approvers?userId=@Model.User.Id">Поручення</a>
        </li>
        @if (UserManager.GetUserId(User) == Model.User.Id || User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveNav == "Edit" ? "active" : "")" href="/Account/Edit?userId=@Model.User.Id">Редагувати профіль</a>
            </li>
        }
    </ul>
    @RenderBody()
    <partial name="_SuccessModal" model='""' />
    <partial name="_ErrorModal" model='""' />
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@RenderSection("Scripts", required: false)