@{
    Layout = "~/Views/Account/_ProfileLayout.cshtml";
    ViewBag.Title = "Поручення";
    ViewBag.ActiveNav = "Approvers";
}
@using Microsoft.AspNetCore.Identity;
@model EPlast.ViewModels.UserInformation.UserApproversViewModel
<div id="approvers" class="container tab-pane active approversWrapper">
    <div class="row mt-4 d-flex">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="/images/Users/@Model.User.ImagePath" class="img-thumbnail" alt="">
                </div>
            </div>
            <div class="profile-usertitle">
                <br />
                @if (!Model.IsUserPlastun)
                {
                    double perc = 100 - @Model.TimeToJoinPlast.Days * 100 / 366;
                    int count = @Model.TimeToJoinPlast.Days;
                    <p>@count дні і @Model.User.FirstName @Model.User.LastName Пластун:)</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @perc%" aria-valuenow="@Model.TimeToJoinPlast.Days" aria-valuemin="366" aria-valuemax="0">
                            @perc%
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-8">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>@Model.User.FirstName @Model.User.LastName</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3>
                                Поручення дійсних членів
                            </h3>
                            <div>
                                <div id="insideCard">
                                    <div class="row approvers-row">
                                        @if (Model.ConfirmedUsers.Count() != 0)
                                        {
                                            @foreach (var item in Model.ConfirmedUsers.ToList())
                                            {
                                                <div class="col-xl-4 col-md-8">
                                                    <div class="card h-100">
                                                        <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@item.Approver.User.Id" class="btn">
                                                            <div class="approversImg">
                                                                <img class="app-img" src="/images/Users/@item.Approver.User.ImagePath" alt="Generic placeholder image" />
                                                            </div>

                                                            <div class="card-body p-0">
                                                                <div class="card-text">
                                                                    <h5>@item.Approver.User.FirstName @item.Approver.User.LastName</h5>
                                                                    <p>@item.ConfirmDate.ToString("dd-MM-yyyy")</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        @if (item.Approver.UserID == Model.CurrentUserId)
                                                        {
                                                            <div class="card-footer">
                                                                <a class="btn btn-danger" asp-action="ApproverDelete" asp-controller="Account" asp-route-confirmedId="@item.ID" asp-route-userId="@Model.User.Id">Відкликати поручення</a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="card-footer bg-white border-0">

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        }
                                        @if (Model.canApprove && User.IsInRole("Пластун"))
                                        {
                                            <div class="col-xl-4 col-md-8">
                                                <a asp-action="ApproveUser" asp-route-userId="@Model.User.Id" class="btn">
                                                    <div class="approversImg">
                                                        <img class="app-img" src="/images/add_user.png" alt="Generic placeholder image" />
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <h5>Поручитись</h5>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        }
                                        else if (Model.ConfirmedUsers.Count() == 0)
                                        {
                                            <div class="col-12 h5 text-muted">
                                                <br />
                                                <br />
                                                На жаль поруки відсутні
                                                <br />
                                                <br />
                                            </div>
                                        }

                                    </div>
                                    <br />

                                    <div class="row justify-content-center">


                                        <div class="col-xl-4 col-md-8">
                                            <div class="containerApprovers approverKurin">
                                                <h3>
                                                    Поручення куреня УСП/УПС
                                                </h3>
                                            </div>
                                            @if (Model.ClubApprover != null)
                                            {
                                                <div class="card">
                                                    <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@Model.ClubApprover.Approver.User.Id" class="btn">
                                                        <div class="approversImg">
                                                            <img class="app-img" src="/images/Users/@Model.ClubApprover.Approver.User.ImagePath" alt="Generic placeholder image" />
                                                        </div>

                                                        <div class="card-body p-0">
                                                            <div class="card-text">
                                                                <h5>@Model.ClubApprover.Approver.User.FirstName @Model.ClubApprover.Approver.User.LastName</h5>
                                                                <p>@Model.ClubApprover.ConfirmDate.ToString("dd-MM-yyyy")</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    @if (Model.ClubApprover.Approver.UserID == Model.CurrentUserId)
                                                    {
                                                        <div class="card-footer">
                                                            <a class="btn btn-danger" asp-action="ApproverDelete" asp-controller="Account" asp-route-confirmedId="@Model.ClubApprover.ID" asp-route-userId="@Model.User.Id">Відкликати поручення</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="card-footer bg-white border-0">

                                                        </div>
                                                    }
                                                </div>
                                            }
                                            else if (Model.CurrentUserId != Model.User.Id && User.IsInRole("Голова Куреня"))
                                            {

                                                <a asp-action="ApproveUser" asp-route-userId="@Model.User.Id" asp-route-isClubAdmin="true" class="btn">
                                                    <div class="approversImg">
                                                        <img class="app-img" src="/images/add_user.png" alt="Generic placeholder image" />
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <h5>Поручитись як курінний</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <div class="h5 text-muted">
                                                    <br />
                                                    <br />
                                                    На жаль порука курінного відсутня
                                                </div>
                                            }
                                        </div>


                                        <div class="col-xl-4 col-md-8">
                                            <div class="containerApprovers">
                                                <h3>
                                                    Поручення Голови осередку / Осередкового УСП/УПС
                                                </h3>
                                            </div>

                                            @if (Model.CityApprover != null)
                                            {
                                                <div class="card">
                                                    <a asp-action="UserProfile" asp-controller="Account" asp-route-userId="@Model.CityApprover.Approver.User.Id" class="btn">
                                                        <div class="approversImg">
                                                            <img class="app-img" src="/images/Users/@Model.CityApprover.Approver.User.ImagePath" alt="Generic placeholder image" />
                                                        </div>

                                                        <div class="card-body p-0">
                                                            <div class="card-text">
                                                                <h5>@Model.CityApprover.Approver.User.FirstName @Model.CityApprover.Approver.User.LastName</h5>
                                                                <p>@Model.CityApprover.ConfirmDate.ToString("dd-MM-yyyy")</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    @if (Model.CityApprover.Approver.UserID == Model.CurrentUserId)
                                                    {
                                                        <div class="card-footer">
                                                            <a class="btn btn-danger" asp-action="ApproverDelete" asp-controller="Account" asp-route-confirmedId="@Model.CityApprover.ID" asp-route-userId="@Model.User.Id">Відкликати поручення</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="card-footer bg-white border-0">

                                                        </div>
                                                    }
                                                </div>
                                            }

                                            else if (Model.CurrentUserId != Model.User.Id && (User.IsInRole("Голова Округу") || User.IsInRole("Голова Станиці")))
                                            {

                                                <a asp-action="ApproveUser" asp-route-userId="@Model.User.Id" asp-route-isCityAdmin="true" class="btn">
                                                    <div class="approversImg">
                                                        <img class="app-img" src="/images/add_user.png" alt="Generic placeholder image" />
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="card-text">
                                                            <h5>Поручитись як окружний</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <div class="h5 text-muted">
                                                    <br />
                                                    <br />
                                                    На жаль порука окружного/станичного відсутня
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
