@using EPlast.ViewModels;
@model ChangePasswordViewModel

<div class="changeWrapper">
    <div class="login-clean">
        <div class="form">
            <div class="forgot-password-container">
                <div class="inner">
                    <p>Зміна пароля</p>
                </div>
            </div>
            <form method="post" class="login-form" id="change" asp-action="ChangePassword" asp-controller="Account">
                <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input asp-for="@Model.CurrentPassword" class="form-control" type="password" name="currentpassword"
                           placeholder="Поточний пароль"/>
                    <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.NewPassword" class="form-control" type="password" name="newpassword"
                           placeholder="Новий пароль"/>
                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.ConfirmPassword" class="form-control" type="password" name="confirmpassword"
                           placeholder="Введіть новий пароль ще раз"/>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-block text-light" type="submit">
                        Змінити
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
