@using EPlast.DataAccess.Repositories
@using EPlast.DataAccess.Entities
@model EPlast.ViewModels.EditUserViewModel
<form class="bg-light mt-4 editPage" style="background-color:white" asp-action="Edit" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img id="image" src="/images/Users/@Model.User.ImagePath" class="img-thumbnail" alt="">
                </div>
            </div>
            <div class="row rowEditPage">
                <div id="photo-wrapper" class="photo-wrapper">
                    <div class="Upload-photo">
                        <button id="upload-btn" class="upload-btn">Вибрати...</button>
                        <input type="file" class="custom-file-input" id="upload-file" accept=".jpg,.jpeg,.png" name="file" >
                    </div>
                    <div class="accept">
                        <button type="submit" value="Save" id="Upload-photo" class="btn " style="background-color:#3c5438; color:white;">Підтвердити</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8  col-sm-12 col-lg-8 col-md-12">
            @Html.HiddenFor(model => model.User.Id)
            @Html.HiddenFor(model => model.User.UserProfile.ID)
            @Html.HiddenFor(model => model.User.UserProfile.UserID)
            @Html.HiddenFor(model => model.User.UserProfile.User)
            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Редагування профілю</h2>
                    <hr />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control">
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control">
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FatherName" class="control-label"></label>
                <input asp-for="User.FatherName" class="form-control">
                <span asp-validation-for="User.FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Nationality.Name" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Nationality.Name,
                new { @list = "NationalityType-value", @id = "autocomplete_input", @class = "form-control", @Value = "" })
                <datalist id="NationalityType-value">
                    @foreach (Nationality item in Model.Nationalities)
                    {
                        <option data-value="@item.ID" value="@item.Name"></option>

                    }
                </datalist>

                @Html.HiddenFor(i => i.User.UserProfile.NationalityId, new { @id = "autocomplete_input_id_0" })
                <span asp-validation-for="User.UserProfile.Nationality.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Номер телефону</label>
                <input asp-for="User.PhoneNumber" id="phoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Religion.Name" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Religion.Name,
                new { @id = "autocomplete_input", @list = "ReligionType-value", @class = "form-control", @Value = "" })
                <datalist id="ReligionType-value">
                    @foreach (Religion item in Model.Religions)
                    {
                        <option data-value="@item.ID" value="@item.Name"></option>
                    }
                </datalist>
                @Html.HiddenFor(i => i.User.UserProfile.ReligionId, new { @id = "autocomplete_input_id_1" })
                <span asp-validation-for="User.UserProfile.Religion.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.DateTime" class="control-label"></label>
                @if (@Model.User.UserProfile.DateTime != null)
                {
                    <input type="hidden" id="dtOfBrthd" value=@Model.User.UserProfile.DateTime.Value.ToString("dd-MM-yyyy") />
                }
                @Html.TextBoxFor(x => x.User.UserProfile.DateTime,
                    new { @autocomplete = "off", @type = "datetime", @placeholder = "Виберіть дату...", @id = "datepickerBirthday", @class = "form-control" })
                <span asp-validation-for="User.UserProfile.DateTime" />
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Education.PlaceOfStudy" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Education.PlaceOfStudy,
                new { @id = "autocomplete_input", @list = "EducationPlaceType-value", @class = "form-control", @Value = "" })
                <datalist id="EducationPlaceType-value">
                    @foreach (Education item in Model.EducationView.PlaceOfStudyList)
                    {
                        <option data-value="@item.ID" value="@item.PlaceOfStudy"></option>
                    }
                </datalist>
                @Html.HiddenFor(i => i.EducationView.PlaceOfStudyID, new { @id = "autocomplete_input_id_2" })
                <span asp-validation-for="User.UserProfile.Education.PlaceOfStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Education.Speciality" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Education.Speciality,
                new { @id = "autocomplete_input", @list = "EducationSpecType-value", @class = "form-control", @Value = "" })
                <datalist id="EducationSpecType-value">
                    @foreach (Education item in Model.EducationView.SpecialityList)
                    {
                        <option data-value="@item.ID" value="@item.Speciality"></option>
                    }
                </datalist>
                @Html.HiddenFor(i => i.EducationView.SpecialityID, new { @id = "autocomplete_input_id_3" })
                <span asp-validation-for="User.UserProfile.Education.Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Degree.Name" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Degree.Name,
                 new { @id = "autocomplete_input", @list = "DegreeType-value", @class = "form-control", @Value = "" })
                <datalist id="DegreeType-value">
                    @foreach (Degree item in Model.Degrees)
                    {
                        <option data-value="@item.ID" value="@item.Name"></option>
                    }
                </datalist>
                @Html.HiddenFor(i => i.User.UserProfile.DegreeId, new { @id = "autocomplete_input_id_4" })
                <span asp-validation-for="User.UserProfile.Degree.Name" class="text-danger"></span>
            </div>
            <div class="form-group gender-wrapper">
                <label asp-for="User.UserProfile.Gender.Name" class="control-label"></label>
                @Html.DropDownListFor(x => x.User.UserProfile.GenderID, (IEnumerable<SelectListItem>)ViewBag.genders, "-- Виберіть стать... --", new { @placeholder = "Стать", @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Address" class="control-label"></label>
                <input asp-for="User.UserProfile.Address" class="form-control" />
                <span asp-validation-for="User.UserProfile.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Work.PlaceOfwork" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Work.PlaceOfwork,
                 new { @id = "autocomplete_input", @list = "WorkPlaceType-value", @class = "form-control", @Value = "" })
                <datalist id="WorkPlaceType-value">
                    @foreach (Work item in Model.WorkView.PlaceOfWorkList)
                    {
                        <option data-value="@item.ID" value="@item.PlaceOfwork"></option>
                    }
                </datalist>
                @Html.HiddenFor(i => i.WorkView.PlaceOfWorkID, new { @id = "autocomplete_input_id_5" })
                <span asp-validation-for="User.UserProfile.Work.PlaceOfwork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserProfile.Work.Position" class="control-label"></label>
                @Html.TextBoxFor(x => x.User.UserProfile.Work.Position,
                 new { @id = "autocomplete_input", @list = "WorkPositionType-value", @class = "form-control", @Value = "" })
                <datalist id="WorkPositionType-value">
                    @foreach (Work item in Model.WorkView.PositionList)
                    {
                        <option data-value="@item.ID" value="@item.Position"></option>
                    }
                </datalist>
                @Html.HiddenFor(i => i.WorkView.PositionID, new { @id = "autocomplete_input_id_6" })
                <span asp-validation-for="User.UserProfile.Work.Position" class="text-danger"></span>
            </div>
            <button type="submit" value="Save" class="btn " style="background-color:#3c5438; color:white;">Підтвердити</button>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}