@{
    Layout = "~/Views/Account/_ProfileLayout.cshtml";
    ViewBag.Title = "Positions";
    ViewBag.ActiveNav = "Positions";
}

@using Microsoft.AspNetCore.Identity;
@model EPlast.ViewModels.UserInformation.PositionUserViewModel
@inject UserManager<EPlast.DataAccess.Entities.User> _userManager

<div id="positions" class="container">
    <div class="row mt-4 d-flex">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="/images/Users/@Model.User.ImagePath" class="img-thumbnail" alt="">
                </div>
                <div class="profile-usertitle">
                    <br />
                    @if (!_userManager.IsInRoleAsync(Model.User, "Пластун").Result)
                    {
                        double perc = 100 - @Model.TimeToJoinPlast.Days * 100 / 366;
                        int count = @Model.TimeToJoinPlast.Days;
                        <p>@count дні і @Model.User.FirstName @Model.User.LastName Пластун:)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @perc%" aria-valuenow="@Model.TimeToJoinPlast.Days" aria-valuemin="366" aria-valuemax="0">
                                @perc%
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <h3>Поточні діловодства:</h3>
                @if (Model.HasAccessToManageUserPositions)
                {
                    <div class="d-flex">
                        <button id="endPosition" class="btn btn-sm btn-success btn-management" disabled>Завершити каденцію</button>
                        <button id="deleteCurrentPosition" class="btn btn-sm btn-success btn-management" disabled>Видалити діловодство</button>
                    </div>
                }
                <table id="CurrentPositionsTable" class="table table-hover">
                    <tbody>
                        @foreach (var position in Model.UserPositions.Where(ca => ca.EndDate == null))
                        {
                            <tr>
                                <td hidden>@position.ID</td>
                                <td>@position.AdminType.AdminTypeName</td>
                                <td>@position.City.Name</td>
                                <td>@position.StartDate.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <h3>Колишні діловодства:</h3>
                @if (Model.HasAccessToManageUserPositions)
                {
                    <div class="d-flex">
                        <button id="deletePosition" class="btn btn-sm btn-success btn-management" disabled>Видалити діловодство</button>
                    </div>
                }
                <table id="PositionsTable" class="table table-hover">
                    <tbody>
                        @foreach (var position in Model.UserPositions.Where(ca => ca.EndDate != null))
                        {
                            <tr>
                                <td hidden>@position.ID</td>
                                <td>@position.AdminType.AdminTypeName</td>
                                <td>@position.City.Name</td>
                                <td>@position.StartDate.ToShortDateString() - @position.EndDate.Value.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>