@{
    Layout = "~/Views/Account/_ProfileLayout.cshtml";
    ViewBag.Title = "Positions";
    ViewBag.ActiveNav = "Positions";
}

@using Microsoft.AspNetCore.Identity;
@model EPlast.ViewModels.UserInformation.PositionUserViewModel

<div id="positions" class="container">
    <div class="row mt-4 d-flex">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="/images/Users/@Model.User.ImagePath" class="img-thumbnail" alt="">
                </div>
                <div class="profile-usertitle">
                    <br />
                    @if (!Model.IsUserPlastun)
                    {
                        double perc = 100 - @Model.TimeToJoinPlast.Days * 100 / 366;
                        int count = @Model.TimeToJoinPlast.Days;
                        <p>@count дні і @Model.User.FirstName @Model.User.LastName Пластун:)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @perc%" aria-valuenow="@Model.TimeToJoinPlast.Days" aria-valuemin="366" aria-valuemax="0">
                                @perc%
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>