@{
    Layout = "~/Views/Account/_ProfileLayout.cshtml";
    ViewBag.Title = "Профіль";
    ViewBag.ActiveNav = "UserProfile"; 
}
@using Microsoft.AspNetCore.Identity;
@model EPlast.ViewModels.UserInformation.PersonalDataViewModel

<div id="userProfile" class="container tab-pane active UserProfileWrapper">
    <div class="row mt-4 d-flex">
        <div class="col-md-4">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic">
                    <img src="/images/Users/@Model.User.ImagePath" class="img-thumbnail" alt="">
                </div>
                <div class="profile-usertitle">
                    <br />
                    @if (!Model.IsUserPlastun)
                    {
                        double perc = 100 - @Model.timeToJoinPlast.Days * 100 / 365;
                        int count = @Model.timeToJoinPlast.Days;
                        <p>@count дні і @Model.User.FirstName @Model.User.LastName Пластун:)</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @perc%" aria-valuenow="@Model.timeToJoinPlast.Days" aria-valuemin="365" aria-valuemax="0">
                                @perc%
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
           
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h4>Особистий профіль</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="username" class="col-6 col-form-label font-weight-bold">Прізвище</label>
                            <p class="col-6 col-form-label">@Model.User.LastName</p>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-6 col-form-label font-weight-bold">Ім'я</label>
                            <p class="col-6 col-form-label">@Model.User.FirstName</p>
                        </div>
                        @if (@Model.User.FatherName != null)
                        {
                            <div class="form-group row">
                                <label for="name" class="col-6 col-form-label font-weight-bold">По-батькові</label>
                                <p class="col-6 col-form-label">@Model.User.FatherName</p>
                            </div>
                        }
                        <div class="form-group row">
                            @if (@Model.User.Email != "facebookdefaultmail@gmail.com")
                            {
                                <label for="email" class="col-6 col-form-label font-weight-bold">Email</label>
                                <p class="col-6 col-form-label">@Model.User.Email</p>
                            }
                        </div>
                        @if (@Model.User.UserProfile.Address != null)
                        {
                            <div class="form-group row">
                                <label class="col-6 col-form-label font-weight-bold">Домашня адреса</label>
                                <p class="col-6 col-form-label">@Model.User.UserProfile.Address</p>
                            </div>
                        }
                        @if (@Model.User.PhoneNumber != null)
                        {
                            <div class="form-group row">
                                <label for="phone" class="col-6 col-form-label font-weight-bold">Номер телефону</label>
                                <p class="col-6 col-form-label">@Model.User.PhoneNumber</p>
                            </div>
                        }
                        @if (@Model.User.UserProfile.Nationality != null)
                        {
                            <div class="form-group row">
                                <label for="text" class="col-6 col-form-label font-weight-bold">Національність</label>

                                <p class="col-6 col-form-label">@Model.User.UserProfile.Nationality.Name</p>

                            </div>
                        }
                        @if (@Model.User.UserProfile.Religion != null)
                        {
                            <div class="form-group row">
                                <label for="email" class="col-6 col-form-label font-weight-bold">Віровизнання</label>
                                <p class="col-6 col-form-label">@Model.User.UserProfile.Religion.Name</p>
                            </div>
                        }

                                @if (@Model.User.UserProfile.Birthday != null)
                                {
                                    <div class="form-group row">
                                        <label class="col-6 col-form-label font-weight-bold">Дата народження:</label>
                                        <p class="col-6 col-form-label">@Model.User.UserProfile.Birthday.Value.ToString("dd-MM-yyyy")</p>
                                    </div>
                                }
                                @if (@Model.User.UserProfile.Gender != null)
                                {
                                    <div class="form-group row">
                                        <label for="email" class="col-6 col-form-label font-weight-bold">Стать</label>

                                <p class="col-6 col-form-label">@Model.User.UserProfile.Gender.Name</p>

                            </div>
                        }
                        @if (@Model.User.UserProfile.Education != null)
                        {
                            @if (Model.User.UserProfile.Education.PlaceOfStudy != null)
                            {
                                <div class="form-group row">
                                    <label for="email" class="col-6 col-form-label font-weight-bold">Місце навчання</label>
                                    <p class="col-6 col-form-label">@Model.User.UserProfile.Education.PlaceOfStudy</p>
                                </div>
                            }

                            @if (Model.User.UserProfile.Education.Speciality != null)
                            {
                                <div class="form-group row">
                                    <label for="email" class="col-6 col-form-label font-weight-bold">Спеціальність</label>
                                    <p class="col-6 col-form-label">@Model.User.UserProfile.Education.Speciality</p>
                                </div>
                            }
                        }

                        @if (@Model.User.UserProfile.Degree != null)
                        {
                            <div class="form-group row">
                                <label for="email" class="col-6 col-form-label font-weight-bold">Ступінь</label>
                                <p class="col-6 col-form-label">@Model.User.UserProfile.Degree.Name</p>
                            </div>
                        }

                        @if (@Model.User.UserProfile.Work != null)
                        {
                            @if (Model.User.UserProfile.Work.PlaceOfwork != null)
                            {
                                <div class="form-group row">
                                    <label for="email" class="col-6 col-form-label font-weight-bold">Місце роботи</label>
                                    <p class="col-6 col-form-label">@Model.User.UserProfile.Work.PlaceOfwork</p>
                                </div>
                            }

                            @if (Model.User.UserProfile.Work.Position != null)
                            {
                                <div class="form-group row">
                                    <label for="email" class="col-6 col-form-label font-weight-bold">Посада</label>
                                    <p class="col-6 col-form-label">@Model.User.UserProfile.Work.Position</p>
                                </div>
                            }
                        }
                        <div class="form-group row">
                            <a asp-controller="Club" asp-action="ChooseAClub"><p style="color: #3c5438;font-weight: bolder; padding-left: 15px;">Додати/ змінити курінь</p></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}