@model EventViewModel
@{
    bool isActiveImage = true;
}
<div class="container mt-4 event-page-wrapper">
    @*Модальні вікна*@
    @await Html.PartialAsync("_EventModals")
    <input type="hidden" id="eventId" value=@Model.Event.EventId>
    <div class="row mt-2 shadowBlock shadow rounded">
        <div class="col-md-4">
            <div class="row justify-content-center ">
                <i class="far fa-handshake logo"></i>
            </div>

            <div id="pageIcons" class="row justify-content-around my-2  ">
                @if (Model.IsUserEventAdmin)
                {
                    <a id="deleteIcon" class="event-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Видалити">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <a asp-controller="EventUser" asp-action="EventEdit" asp-route-eventId="@Model.Event.EventId" class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Редагувати">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Ви адмін!">
                        <i class="fas fa-user-cog"></i>
                    </a>
                }
                else
                {
                    @if (!Model.IsEventFinished)
                    {
                        @if (!Model.IsUserParticipant)
                        {
                            <div id="subscribeBlock" class="event-pen">
                                <a id="subscribeIcon" class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Зголоситись">
                                    <i class="fas fa-pen-alt"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div id="subscribeBlock" class="event-pen event-invisible">
                                <a id="subscribeIcon" class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Зголоситись">
                                    <i class="fas fa-pen-alt"></i>
                                </a>
                            </div>
                        }

                        @if (Model.IsUserApprovedParticipant)
                        {
                            <div id="participantBlock" class="event-part">
                                <a class="event-link ml-2" data-toggle="tooltip" data-placement="bottom" title="Вітаємо! Ви учасник події.">
                                    <i class="far fa-check-square"></i>
                                </a>
                            </div>
                        }

                        @if (Model.IsUserUndeterminedParticipant)
                        {
                            <div id="userClockBlock" class="event-participant-status">
                                <a id="userClock" class="participant-status ml-2" data-toggle="tooltip" data-placement="bottom" title="Ваша кандидатура розглядається">
                                    <i class="fas fa-user-clock"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div id="userClockBlock" class="event-participant-status event-invisible">
                                <a id="userClock" class="participant-status ml-2" data-toggle="tooltip" data-placement="bottom" title="Ваша кандидатура розглядається">
                                    <i class="fas fa-user-clock"></i>
                                </a>
                            </div>
                        }

                        @if (Model.IsUserRejectedParticipant)
                        {
                            <div id="rejectBlock" class="events-participants-ban">
                                <a class="event-remove" data-toggle="tooltip" data-placement="right" title="Вашу заявку на участь у даній події відхилено">
                                    <i class="fas fa-user-slash"></i>
                                </a>
                            </div>
                        }
                        if (!Model.IsUserParticipant || Model.IsUserRejectedParticipant)
                        {
                            <div id="unsubscribeBlock" class="event-unsubscribe event-invisible">
                                <a id="unsubscribeIcon" class="event-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Натисніть, щоб відписатись від події">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div id="unsubscribeBlock" class="event-unsubscribe">
                                <a id="unsubscribeIcon" class="event-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Натисніть, щоб відписатись від події">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            </div>
                        }
                    }
                }
                <div class="event-participants">
                    <a class="event-link" href="#btn-part" data-toggle="tooltip" data-placement="bottom" title="Учасники">
                        <i class="fas fa-users"></i>
                    </a>
                </div>
                @if (Model.Event.EventGallery.Count != 0 || Model.IsUserEventAdmin)
                {
                    <div class="event-gallery">
                        <a class="event-link" href="#gallery" data-toggle="tooltip" data-placement="bottom" title="Галерея">
                            <i class="fas fa-images"></i>
                        </a>
                    </div>
                }
                else
                {
                    <div id="emptyGallery">
                        <div class="event-gallery">
                            <a class="event-link" data-toggle="tooltip" data-placement="bottom" title="Галерея">
                                <i class="fas fa-images"></i>
                            </a>
                        </div>
                    </div>
                }
                <div data-toggle="tooltip" data-placement="bottom" title="Адміністратор(-и) події">
                    <a class="event-link" data-toggle="collapse" data-target="#eventAdmins" aria-expanded="false" aria-controls="eventAdmins">
                        <i class="fas fa-users-cog"></i>
                    </a>
                </div>
            </div>

            <div id="eventAdmins" class="row mt-4 ml-2 collapse">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th>Admin</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventAdmin in Model.Event.EventAdmins)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Account" asp-action="UserProfile" asp-route-userId=@eventAdmin.UserId class="title-link">
                                        @eventAdmin.FullName
                                    </a>
                                </td>
                                <td>@eventAdmin.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Назва:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventName</p>
                </div>
            </div>
            <div class="row mt-2 align-items-center">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Тип:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventType</p>
                </div>
            </div>
            <div class="row mt-2 align-items-center">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Категорія:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventCategory</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Дата початку:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventDateStart</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Дата завершення:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventDateEnd</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Локація:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventLocation</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Призначений для:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.ForWhom</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Форма проведення:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.FormOfHolding</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Статус:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-value ">@Model.Event.EventStatus</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-sm-5 text-sm-center text-md-right">
                    <p class="event-header font-weight-bold">Опис:</p>
                </div>
                <div class="col-md-7 ml-lg-5 ml-sm-0">
                    <p class="event-description"> <em>@Model.Event.Description</em> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Карусель -->
    @if (Model.Event.EventGallery.Count != 0 || Model.IsUserEventAdmin)
    {
        <div id="carouselContainer" class="row mt-3 shadowBlock  justify-content-center  shadow rounded">
            <div class="col-md-12 mt-3 text-center">
                <div class="row ">
                    <h2 id="gallery" class="col-md-12 font-weight-bold plast-color">Галерея</h2>
                </div>
            </div>

            <div id="carouselBlock" class="col-md-12  mt-3 mb-1">
                <div class="row  justify-content-center">
                    <div id="fullCarousel" class="col-md-8">
                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                @for (int i = 0; i < Model.Event.EventGallery.Count; ++i)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#demo" data-slide-to="@(i + 1)" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#demo" data-slide-to="@(i + 1)"></li>
                                    }

                                }
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                @foreach (var picture in Model.Event.EventGallery)
                                {
                                    if (isActiveImage)
                                    {
                                        <div class="carousel-item active">
                                            <img class="carousel-pictures" src="~/images/EventsGallery/@picture.FileName" width="1100" height="500">
                                        </div>
                                        isActiveImage = false;
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img class="carousel-pictures" src="~/images/EventsGallery/@picture.FileName" width="1100" height="500">
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12  mb-3">
                @if (Model.IsUserEventAdmin)
                {
                    <div class="row  justify-content-center">

                        <div id="addPicture" class="col-md-8 mt-2 ml-lg-5">
                            <form id="form" class="d-flex flex-row align-items-baseline ml-lg-4" name="form" asp-action="FillEventGallery" asp-controller="Action" enctype="multipart/form-data" method="post">
                                <button id="spinnerGal" class="btn btn-success gallery-buttons event-invisible">
                                    <span class="spinner-border spinner-border-sm"></span>
                                    Завантаження...
                                </button>
                                <label id="addPicturesLabel" class="btn btn-success gallery-buttons" for="files">Додати фотографії:</label>
                                <h5 class="ml-2">Кількість вибраних файлів <span id="filesBadge" class="badge badge-secondary badge-pill">0</span></h5>
                                <input type="file" id="files" name="files" class="event-invisible" multiple accept=".jpg,.jpeg,.png" onchange="uploadFiles('files');">
                            </form>
                        </div>

                        <div class="col-md-8 ml-lg-1">
                            <button id="editGallery" type="button" class="btn btn-success mt-1 ml-lg-5 gallery-buttons">Редагувати галерею</button>
                        </div>
                        <div id="deletePicture" class="col-md-8 mt-2 event-invisible">
                            <div class="row event-page-wrapper overflow-auto picture-deleting">
                                @foreach (var picture in Model.Event.EventGallery)
                                {
                                    <div class="col-md-4 my-1 picture-deleting">
                                        <input type="hidden" value="@picture.GalleryId">
                                        <div class="card text-center pointer">
                                            <div class="card-header">
                                                <div class="row justify-content-end">
                                                    <a class="picture-remove ml-2" data-toggle="tooltip" data-placement="bottom" title="Натисніть, щоб видалити фотку">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="pictureToDelete">
                                                <img src="~/images/EventsGallery/@picture.FileName" class="img-fluid" alt="Cloudy Sky">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button id="backBut" type="button" class="btn btn-success gallery-buttons mt-3">Повернутися назад</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <div class="row mt-3 mb-5 shadowBlock justify-content-сenter  shadow rounded">
        <div class="row mt-3  col-md-12 justify-content-center mb-1">
            <div class="col-md-8 text-center ">
                <input type="button" id="btn-part" class="btn btn-success btn-md  btn-collapse ml-4" data-toggle="collapse" data-target="#myCollapsible" value="Потенційні учасники">
            </div>
        </div>
        <form id="myCollapsible" class="row mt-3  col-md-12 justify-content-center">
            <div class="row col-md-11 justify-content-center">
                <div id="myTable" class="table-responsive">
                    <table id="dtParticipants" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">
                                    Користувач
                                </th>
                                <th class="th-sm">
                                    Email
                                </th>
                                <th class="th-sm">
                                    Поточний статус
                                </th>
                                @if (Model.IsUserEventAdmin)
                                {
                                    <th class="th-sm">
                                        Змінити статус
                                    </th>
                                    <th class="th-sm event-invisible">
                                        ParticipantID
                                    </th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var participant in Model.Event.EventParticipants)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <a asp-controller="Account" asp-action="UserProfile" asp-route-userId=@participant.UserId class="title-link">
                                            @participant.FullName
                                        </a>
                                    </td>
                                    <td class="align-middle">@participant.Email</td>
                                    <td class="align-middle">@participant.Status</td>
                                    @if (Model.IsUserEventAdmin)
                                    {
                                        <td>
                                            <div class="btn-group btn-group-sm d-flex">
                                                <button type="button" class="btn btn-success approved">
                                                    <i style="font-size:15px" class="fas fa-check-square"></i>
                                                </button>
                                                <button type="button" class="btn btn-warning undetermined">
                                                    <i style="font-size:15px;" class="fas fa-user-clock"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger rejected">
                                                    <i style="font-size:15px" class="fas fa-user-slash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="event-invisible">
                                            <input type="hidden" value=@participant.ParticipantId />
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </form>


    </div>

</div>